.panel {
    margin: 0 1% 0 1%;
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;
    /*x offset, y offset, blur, color*/
    box-shadow: 0 0 10px white;
}

h3.panel-title {
    font-size: 150%;
}

.panel .row {
    padding-left: 20px;
}

#browse-title .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

div .browse-label {
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 3px 3px 0 0;
    /*x offset, y offset, blur, color*/
    box-shadow: 0 0 5px white;
}
