/*.dropdown:hover .dropdown-menu.columns-3 {
    display: block;
}*/

.dropdown-menu.columns-3 {
    min-width: 500px;
}
.dropdown-menu li a {
    padding: 5px 0;
    margin: 0px;
    font-weight: 300;
}

div.row {
    margin: 0 7px 0 0;
}

.multi-column-dropdown {
    list-style: none;
    padding: 0;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    min-height: 50px;
    margin: auto;
    padding: 10px 0;
    color: #333;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}
