nav.navbar{
    margin: 0 0 5px 0;
}

.dropdown:hover #browse-dropdown {
    display: block;
}

#browse-dropdown {
    min-width: 500px;
}

#browse-dropdown li a {
    padding: 10px;
    display: block;
    min-height: 50px;
    color: #333;
}
#browse-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}