#photo {
    min-width:80%;
    min-height:80%;
    max-width:80%;
    max-height:80%;
    float: left;
    margin: 50px 0 50px 5%;
    border: 5px solid lightyellow;
    color: white;
    font-size: 200%;
}

.info-panel .panel-title {
    font-size: 250%;
}

.info-panel .panel {
    clear: both;
    margin: 60px 1% 0 1%;
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;
    /*x offset, y offset, blur, color*/
    box-shadow: 0 0 10px white;
    /*font-size: 200%;*/
}

.info-panel .panel-body {
    font-size: 130%;
}

div .row-items {
    padding: 0 10px 0 0;
}

.prod-panel {
    margin: 0.5%;
}

.prod-panel .row {
    margin: 0.5% 0 2% 0;
}

.prod-panel .panel-title {
    font-size: 200%;
}

/*#poster {*/
    /*min-width:75%;*/
    /*min-height:75%;*/
    /*max-width:75%;*/
    /*max-height:75%;*/
/*}*/


#poster img {
    min-width:100%;
    min-height:100%;
    max-width:100%;
    max-height:100%;
    margin: 10px 0 15px 0;
    border: 1px solid black;
}

#poster {
    margin: 5px;
    vertical-align: middle;
    font-family: cursive;
    text-align: center;
}