body {
    background-color: #e2e2e2;
    /*background-image: url(/img/pink_dust.png);*/
    padding-bottom: 10px;
}

.movie-list-item .movie-list-item-wrapper {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
    background: white;
}

ul.page-selector {
    margin: 0 !important;
}